@use 'base';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  width: fit-content;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  background-color: base.$black;
  min-height: 100vh;
  color: white;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2,
h3 {
  font-weight: normal;
}

section {
  max-width: 80%;
  margin: 0 auto;
  h1:first-of-type {
    font-size: 2rem;
    color: base.$blue;
  }
  .details {
    margin: 1rem auto;
  }
}

// Homepage: Launches
@media (max-width: 600px) {
  .launch-item-container {
    flex-direction: column;
    .launch-details {
      text-align: center;
    }
    .launch-date {
      margin: 5px 0 10px 0;
    }
  }
}

.launch-item-container {
  font-family: base.$font-mono;
  display: flex;
  min-width: 200px;
  min-height: 70px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid base.$dark-grey;
  justify-content: space-between;
  align-items: center;
  color: base.$medium-grey;
  &:hover {
    border: 1px solid white;
  }

  .launch-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .launch-controls {
    height: 100%;
    display: flex;
    align-items: flex-start;
  }
}

.legend {
  width: 80%;
  // margin: 0 auto;
  margin-bottom: 2rem;
  .row {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .box {
    width: 40px;
    height: 20px;
    display: block;
    margin-right: 5px;
  }
}

// Useful classes
.btn {
  font-family: base.$font-mono;
  width: fit-content;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: base.$dark-grey;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  &:hover {
    background-color: rgba(72, 72, 72, 0.8);
    cursor: pointer;
  }
}

.green {
  color: base.$green;
}
.red {
  color: base.$red;
}
.bg-green {
  background-color: base.$green;
}
.bg-red {
  background-color: base.$red;
}

.lt-grey {
  color: base.$light-grey;
}
.md-grey {
  color: base.$medium-grey;
}
.dk-grey {
  color: base.$dark-grey;
}

// Text Align Center
.tac {
  text-align: center;
}
